<DOCTYPE! html>
<html lang="en">
  
<link rel="stylesheet" href="/blog.css">

<div class="jumbotron">
</div>

<h1>Saving Made Sexy</h1><p>

<div class="media">
  <div class="media-left media-top">
      <img class="media-object" width="135" height="150" src="/Myimages/Piggy bank_santa.png" class="img-responsive center-block" alt="Responsive image">
   </div>
  <div class="media-body">
    <h3 class="media-heading">Save For Christmas</h3>
    <h4>Holiday season is fast approaching and we've decided to chip in on the festivities by launching our very first competition - Save for Christmas! Sign up by 23rd November, use our budgeting tool to save for Christmas and if you are one of our <strong> top 5 users
      </strong>you will be rewarded with a <strong>£20 gift card </strong> from <a href="http://www.voucherexpress.co.uk/fullrange.aspx" target="_blank">Voucher Express</a>. Savvy savers like you could receive £20 worth of goodies from the likes of John Lewis, Marks & Spencer, Argos, Ikea, Hamleys, Itunes and Amazon.</h4>
      <p><h4>See terms and conditions below. If you have any questions send us an <a href="mailto:pimpmypiggybank@gmail.com">email</a> or contact us on social media (#SaveForChristmas)</h4>
      <h5> Users must be UK residents, register by 23rd November 09:00 GMT and use Piggy Bank to 
        track their expenses on a regular basis. Both the number of transactions and the frequency of logins           will be used to determine the 5 most active users. By 14th December 14:00 GMT Piggy Bank will notify           the winners, who will be rewarded with a £20 gift card to be selected via Voucher Express. Gift cards           will be sent on 16th December via First Class.</h5>            
    </div>
  </div>

<div class="media">
  <div class="media-left media-top">
      <img class="media-object" width="140" height="150" src="/Myimages/sea-sunset-beach-couple.jpg" class="img-responsive center-block" alt="Responsive image">
   </div>
  <div class="media-body">
    <h3 class="media-heading">Financial Habits That Will Make You Sexier - shared via <a href="http://time.com/money/">Money</a></h3>
    <h4><strong>Money skills are more important than good looks when seeking a mate.</strong></h4>
     <p><h4>Ditch the makeup and hair products. Your budgeting skills might be the thing you should really show off on your next date. In a recent survey about relationships and finances, <a href="http://time.com/money/">MONEY</a> found that both baby boomers and millennials agree on the three most attractive traits in a potential mate: a sense of humor, compassion, and—yes—financial responsibility. For both groups, those qualities all rank higher than physical chemistry, diligence, and even intellect.</h4>
    <p><h4>Don’t worry if you don’t make a ton of money now. The survey, which included about some 500 millennial and 500 boomer respondents, found that smart financial habits were deemed more important than current salary among members of both age groups.</h4>
   <p><h4>This was shared via <a href="http://time.com/money/">Money</a>. You can read the full article <a href="http://time.com/money/3853868/financial-habits-most-attractive/?xid=frommoney_soc_socialflow_facebook_money">here</a> or have a look at their <a href="http://time.com/money/3882484/couples-money-survey-boomers-millennials/">survey</a>.</h4>
    </div>
  </div>
  
  <div class="media">
  <div class="media-left media-top">
      <img class="media-object" width="140" height="150" src="/Myimages/desert-utah-fre-sonneveld-school-bus.jpg" class="img-responsive center-block" alt="Responsive image">
   </div>
  <div class="media-body">
    <h3 class="media-heading">How to save 90% of your net income to travel the world - shared via <a href="https://uk.yahoo.com/?p=us/">Yahoo</a></h3>
    <h4><strong>A Google employee living in a truck in the company parking lot is saving 90% of his income — here's what he does with that money</strong></h4>
    
<p><h4>Brandon — who asked to withhold his last name and photo to maintain his privacy — doesn't use electricity, and his phone bill is handled by his employer, meaning his one recurring cost is his $121 monthly truck insurance. "I'm going for a target of saving about 90% of my after-tax income, and throwing that in student loans and investments," the 23-year-old software engineer tells Business Insider.</h4>

<p><h4>Saving on rent has also allowed him to dine at nice restaurants and enjoy San Francisco more than if he opted for living in an apartment. The main reason behind minimizing expenses, however, is to save up for his eventual travels, he explains on his blog: "The goal of this whole intense money/resource saving expedition is to save money so that I can travel the world in four to five years' time."</h4>
   <p><h4>This was shared via <a href="http://time.com/money/">yahoo Finance</a>. You can read the full article <a href="http://finance.yahoo.com/news/google-employee-living-truck-company-170000147.html">here</a>.</h4>
    </div>
  </div>

</html>