<div align="center"><h1>What did you buy today?</h1></div>

<div class=container-fluid>
  
  <div class="col-md-4"> 
    <a href="/icons/3"><img height=300 src="/Myimages/pb_expenses_coffee.png" class="img-responsive"></a>
  </div>
  
  <div class="col-md-4"> 
  <a href="/icons/4"><img height=300 src="/Myimages/pb_expenses_sandwich.png" class="img-responsive"></a>
  </div>
  
  <div class="col-md-4"> 
    <a href="/icons/5"><img height=300 src="/Myimages/pb_expenses_groceries.png" class="img-responsive"></a></div>
</div>

<div class=container-fluid>

  
  <div class="col-md-4"> 
    <a href="/icons/9"><img height=300 src="/Myimages/pb_expenses_clothes.png" class="img-responsive">
    </a></div>
  
  <div class="col-md-4"> 
    <a href="/icons/10"><img height=300 src="/Myimages/pb_expenses_drinks.png" class="img-responsive">
    </a></div>
  
  <div class="col-md-4"> 
    <a href="/icons/11"><img height=300 src="/Myimages/pb_expenses_restaurant2.png" class="img-responsive"></a>
  </div>
</div>
  
<div class=container-fluid>
  
  <div class="col-md-4"> 
    <a href="/icons/12"><img height=300 src="/Myimages/pb_expenses_entertainment.png" class="img-responsive">
    </a></div>
  
  <div class="col-md-4"> 
    <a href="/icons/13"><img height=300 src="/Myimages/pb_expenses_flightticket.png" class="img-responsive">
    </a></div>
  
  <div class="col-md-4"> 
    <a href="/icons/14"><img height=300 src="/Myimages/pb_expenses_transportation.png" class="img-responsive"></a>
  </div>
</div>

<div class=container-fluid>
  
  <div class="col-md-4"> 
    <a href="/icons/15/edit"><img height=300 src="/Myimages/pb_expenses_mobile.png" class="img-responsive">
    </a></div>
  
  <div class="col-md-4"> 
    <a href="/icons/16/edit"><img height=300 src="/Myimages/pb_expenses_householdbill.png" class="img-responsive">
    </a></div>
  
  <div class="col-md-4"> 
    <a href="/icons/17/edit"><img height=300 src="/Myimages/pb_expenses_rent.png" class="img-responsive"></a>
  </div>
</div>