<div style="background:white; height:200px; margin:0px" class="jumbotron">
  
<div class="row">
  <div align="center">
    <div class=col-md-4>
      <a href="/budget/:userid"><h2>Budget</h2></a>
    </div>
    <div class="col-md-4">
      <a href="/expenses/:userid"><h2>Expenses</h2></a>
    </div>
    <div class="col-md-4"> 
      <a href="/savings/:userid"><h2>Savings</h2></a>
    </div>
  </div>
  </div>
</div>

<div class="row">
<div style="text-align: center; line-height: 350px"> <img width="400" height="430"src="/Myimages/Piggybank_sunglasses_ok.png"></div>
</div>
   
