<p>Welcome to Piggy Bank!</p>

<p>We're here to help you make saving sexy.</p>

<p><a class="btn btn-default" role="button"><%= link_to 'Start your journey here', new_user_session_path %></a></p>

<p>This is our beta version, which means we're very early phase and your feedback is key to us. Please don't hesitate to shoot us an <a href="mailto:pimpmypiggybank@gmail.com">email</a>.s</p>

<p>Rock on,</p>

<p>Your devoted Piggy Bank team</p>