<h1>My budget</h1>

    <div class="row"> 
      <% @usersbudgets.each do |budget| %>
    <div class="col-md-4">
      <strong>Monthly:</strong><br>
      <%= budget.monthly_budget %>£
      </div>
      <div class="col-md-4">
      <strong>Weekly:</strong><br>
      <%= budget.weekly_budget %>£
      </div>
      <div class="col-md-4">
      <strong>Daily:</strong><br>
      <%= budget.daily_budget %>£
      </div>
    <% end %>
</div>

<br>
<a class="btn btn-default" href="/budgets/new" role="button">Update details</a>
<br>
                 
<br>