<html>
  
<div class="jumbotron">
</div>
  
<p id="notice"><%= notice %></p>

<p>
  <strong>Monthly savings:</strong>
  <%= @budget.monthly_savings %>
</p>

<p>
  <strong>Monthly budget:</strong>
  <%= @budget.monthly_budget %>
</p>

<a class="btn btn-default" href="/profile/:userid" role="button">
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
</a>
  
</html>
