<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to piggy bank!</h1>
    
    <p>Thank you for signing up. You are now on your way to make saving sexy - yes, it's actually possible!</p>
    
   start your journey <a href="http://pimpmypiggybank.herokuapp.com/users/sign_in">here</a>.
    
    Rock on,
    
    Your devoted piggy bank team
  </body>
</html>
