/* Portrait (smartphone) */

@media all and (orientation:portrait){
  
  .jumbotron {
  height: 500px;
  }
  
  #heading {
  text-align: center; 
  line-height: 70px;
  font-size: 35px;
  font-family: Impact, Charcoal, sans-serif;
  }
  
  #teaser {
  text-align: center; 
  line-height: 30px;
  font-size: 25px;
  padding-top: 20px;
  }
  
   #purple{
   height: 600px;
  }
  
  .h2 {
    font-size: 30px;    
  }
}

