<h1><font face="impact" color="#660066">My savings</font></h1>

<h3>Saved to date: <strong><% @usersupdates.each do |update| %>
  <%= update.weekly_interest %>£ </strong></h3>
<% end %>

<div class="row">
  <div class="col-md-4">
  <h3>I'm saving towards: <% @usersbudgets.each do |budget| %><br>
  <%= image_tag(budget.image.url(:medium)) %></h3>
<% end %>
  </div>
<div class="col-md-4">
  <h3>In my piggy bank: <% @userspictures.each do |picture| %><br>
    <%= image_tag(picture.image.url(:medium)) %></h3>
<% end %>
  </div>
</div>


  <a class="btn btn-default" href="/updates/new" role="button">Update details</a></h1>
<br

