<p><strong>Welcome to Piggy Bank</strong></p>

<p>We're here to make saving sexy for you!</p>

<p>First please confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

Then all you need to do is log in via the link below:

<p><%= link_to 'Log in', new_user_session_path %></p>

<p>This is our beta version, which means we're very early phase and your feedback is key to us. Please don't hesitate to shoot us an <a href="mailto:pimpmypiggybank@gmail.com">email</a>.</p>

A big thank you in advance.

<p>Rock on,</p>

<p>Your devoted Piggy Bank team</p>