<p>Welcome to Piggy Bank</p>

<p>We're here to make saving sexy for you!</p>

<p>First please confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

Then all you need to do is log in via the button below:

<p><a class="btn btn-default" role="button"><%= link_to 'Start your journey here', new_user_session_path %></a></p>

<p>This is our beta version, which means We're very early phase and your feedback is key to us. Please don't hesitate to shoot us an <a href="mailto:pimpmypiggybank@gmail.com">email</a>.</p>

A big thank you in advance.

<p>Rock on,</p>

<p>Your devoted Piggy Bank team</p>