<html>
  
<div class="jumbotron">
</div>

<p id="notice"><%= notice %></p>

<strong>Category:</strong>
<%= @transaction.icon.title %>

<p>
  <%= image_tag(@transaction.icon.image.url(:medium)) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @transaction.price %>
</p>
  
<div class="actions">
  <a class="btn btn-default" href="/expenses" role='btn btn-default'>Add more</a>
  <a class="btn btn-default" href="/expenses/:userid" role='btn btn-default'>Check my expenses</a>
</div>

</html>
