<h1>My expenses</h1>
<br>
<h2>Today</h2>
<br>
<div class="row">
    <% @usersicons.each do |icon| %>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
    <div align="center"><%= icon.price %>£<br>
      <%= image_tag(icon.image.url(:medium)) %><br>
      </div>
      </div>
  </div>
  <% end %>
</div>

  <h2>This week:</h2>
<br>

<div class="row">
    <% @usersweeklyicons.each do |weeklyicon| %>
  <div class="col-xs-6 col-md-3">
    <div align="center"><%= weeklyicon.weekly_expenses %>£<br>
      <%= image_tag(weeklyicon.image.url(:medium)) %><br>
      </div>
  </div>
  <% end %>
</div>
