<p>
  <strong>Category:</strong>
  <%= @icon.title %>
</p> 

<p>
  <%= image_tag(@icon.image.url(:medium)) %> <br>
</p>

<p>
<%= render 'transactions/form' %> 
</p>


<a href="/expenses">Add more</a> / <%= link_to 'Check my expenses', icons_path(current_user) %>
